name: test_docker
on: push  # [pull_request, push]
jobs:
  test_docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      # - run: docker-compose build
      - run: docker-compose up -d
      - run: docker-compose exec -T home make test-py || true
      - run: docker-compose exec -T home npm run test || true
      - run: docker-compose exec -T home make test || true
      - run: docker-compose down
      - run: docker system prune --force
