name: test_docker
on: push  # [pull_request, push]
jobs:
  test_docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      # - run: docker-compose build
      - run: docker-compose up -d
      - run: docker-compose exec -t home make test
      - run: docker-compose down
      - run: docker system prune --force
